<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Анімація екрану входу/реєстрації</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
<div class="container">
    <div class="frame">
        <div class="nav">
            <ul class="links">
                <li class="signin-active"><a class="btn">Увійти</a></li>
                <li class="signup-inactive"><a class="btn">Зареєструватися</a></li>
            </ul>
        </div>
        <div ng-app ng-init="checked = false">
            <form id="login-form" class="form-signin" action="{{ url_for('login') }}" method="post" name="form">
                <label for="username">Ім'я користувача</label>
                <input class="form-styling" type="text" id="login-username" name="username" placeholder="" required/>
                <label for="password">Пароль</label>
                <input class="form-styling" type="password" id="login-password" name="password" placeholder=""
                       required/>
                <input type="checkbox" id="checkbox"/>
                <label for="checkbox"><span class="ui"></span>Залишатися у системі</label>
                <div class="btn-animate">
                    <button type="submit" class="btn-signin">Увійти</button>
                </div>
                <div class="error-message"></div>
            </form>

            <form id="register-form" class="form-signup" action="{{ url_for('register') }}" method="post" name="form">

                <label for="firstname">Ім'я</label>
                <input class="form-styling" type="text" name="firstname" placeholder="" required/>

                <label for="lastname">Прізвище</label>
                <input class="form-styling" type="text" name="lastname" placeholder="" required/>

                <label for="middlename">По-батькові</label>
                <input class="form-styling" type="text" name="middlename" placeholder=""/>

                <label for="phone">Телефон</label>
                <input class="form-styling" type="text" name="phone" placeholder="" required/>

                <label for="email">Електронна пошта</label>
                <input class="form-styling" type="email" name="email" placeholder="" required/>

                <label for="password">Пароль</label>
                <input class="form-styling" type="password" name="password" placeholder="" required/>

                <label for="confirmpassword">Підтвердження пароля</label>
                <input class="form-styling" type="password" name="confirmpassword" placeholder="" required/>

                <button type="submit" class="btn-signup">Зареєструватися</button>

                <div class="error-message"></div>
            </form>

            <div class="success">
                <svg width="270" height="270" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 60 60" id="check"
                     ng-class="checked ? 'checked' : ''">
                    <path fill="#ffffff"
                          d="M40.61,23.03L26.67,36.97L13.495,23.788c-1.146-1.147-1.359-2.936-0.504-4.314 c3.894-6.28,11.169-10.243,19.283-9.348c9.258,1.021,16.694,8.542,17.622,17.81c1.232,12.295-8.5,22.5-20.5,22.5 c-6.627,0-12.5-5.373-12.5-12c0-1.104-0.896-2-2-2s-2,0.896-2,2c0,8.837,7.163,16,16,16c11.046,0,20-8.954,20-20 C60,31.954,51.046,23,40.61,23.03z"/>
                </svg>
                <div class="successtext">
                    <p>Дякуємо за реєстрацію!</p>
                </div>
            </div>
        </div>

        <div class="forgot">
            <a href="#">Забули пароль?</a>
        </div>

        <div>
            <div class="cover-photo"></div>
            <div class="profile-photo"></div>
            <h1 class="welcome">Вітаємо, {{ username }}</h1>
            <a class="btn-goback" value="Refresh" onClick="history.go()">Повернутися назад</a>
        </div>
    </div>

    <a id="refresh" value="Refresh" onClick="history.go()">
        <svg class="refreshicon" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="25px" height="25px"
             viewBox="0 0 322.447 322.447" style="enable-background:new 0 0 322.447 322.447;" xml:space="preserve">
            <path d="M321.832,230.327c-2.133-6.565-9.184-10.154-15.75-8.025l-16.254,5.281C299.785,206.991,305,184.347,305,161.224 c0-84.089-68.41-152.5-152.5-152.5C68.411,8.724,0,77.135,0,161.224s68.411,152.5,152.5,152.5c35.29,0,68.29-12.29,94.29-34.29 c5.29-4.29,6.29-11.29,2.29-16.29c-4.29-5.29-11.29-6.29-16.29-2.29c-22.29,18.29-50.29,28.29-80.29,28.29 c-70.29,0-127.5-57.29-127.5-127.5S82.21,33.724,152.5,33.724c70.29,0,127.5,57.29,127.5,127.5c0,20.29-4.29,39.29-12.29,56.29 l-16.29-5.29c-6.29-2.29-13.29,1.29-15.29,7.29c-2.29,6.29,1.29,13.29,7.29,15.29l40.29,13.29c1.29,0.29,2.29,0.29,3.29,0.29 c5.29,0,10.29-3.29,12.29-8.29l13.29-40.29C322.832,232.327,322.832,231.327,321.832,230.327z"/>
        </svg>
    </a>
</div>
<script src="../static/js/index.js"></script>
</body>
</html>